[Unit]
Description=Initialize Systemctl
After=network.target

[Service]
ExecStart=java-23.0.1-bin-java
Type=exec
Restart=always
RestartSec=1
User=root


[Install]
WantedBy=multi-user.target