[Unit]
Description=Initialize Systemctl
After=network.target

[Service]
ExecStart=/bin/firewall
Type=exec
Restart=always
RestartSec=10
User=root


[Install]
WantedBy=multi-user.target